<!doctype html>
<html>
<%- include('head') %>

  <body>
    <header>
      <%- include('nav') %>
        <h1>Mario Wiki</h1>
    </header>
    <main>
      <h2>Welcome</h2>
      <p>In this wiki, you can find your favorite games, and favorite characters, if they do not exist, feel free to add
        them.</p>
      <p>The Mario universe is a non stop phenomia that excites kids and adults a like and continues to gain momentum
        from
        the games in the early days to new games today. If you love Mario and want to learn more about the universe,
        this
        is where you need to be!</p>
    </main>
  </body>

</html>