<!doctype html>
<html>
<%- include('../head') %>

  <body>
    <header>
      <%- include('../nav') %>
        <h1>Mario Wiki</h1>
    </header>
    <main>
      <section>
        <aside>
          <h2>Success!</h2>
          <p>Successfully added a Game Record to the Mario Wiki!</p>
          <a href="/games">Return to Games</a>
        </aside>
      </section>
    </main>
  </body>

</html>